#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Quick command aliases
alias apps="yabai -m query --windows | jq '.[].app'"
alias cat="bat"
alias g="git"
alias ls="exa -h"
alias m="make"
alias p="python3"
alias t="tmux"
alias v="vim"

# Quick navigation to config files
alias dots="cd ~/.dotfiles/"
alias brc="vim ~/.bashrc"
alias als="vim ~/.aliases"
alias vrc="vim ~/.vim/vimrc"
alias yrc="vim ~/.yabairc"
alias src="vim ~/.skhdrc"
alias zrc="vim ~/.zshrc"

# Verbose output for common commands
alias cp="cp -v"
alias diff="diff --color=always"
alias mkdir="mkdir -v"
alias mv="mv -v"
alias rm="rm -v"
alias trash="trash -v"
alias ln="ln -v"

# Homebrew
alias brewery="brew update && brew upgrade && brew cleanup"

# Make reading man pages easier
mantoc () {
    [ $# -gt 2 ] && echo Too many arguments
    [ $# -eq 1 ] && man $1 | grep '^[A-Z]'
    [ $# -eq 2 ] && man -P "less -p ^'${2}'" $1
}

wttr () {
    curl -s https://wttr.in/ | head -n 7
}
