# Easier navigation: .., ..., ...., ....., and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# ls
alias ls='ls -GFh'
alias lsh='ls -ld .?*'   # List hidden files
alias lsa="ls -la"       # List in long format, all
alias lsd="ls -ld"       # List in long format, only directories

# tree
alias treed="tree -d"       # Tree list, directories
alias tree1="tree -d -L 1"  # Tree list, depth 1
alias tree2="tree -d -L 2"  # Tree list, depth 2
alias tree3="tree -d -L 3"  # Tree list, depth 3

# Homebrew
alias brewery="brew update && brew upgrade && brew cleanup"

# Open man page in pdf (Preview)
function manpdf() {
 man -t "${1}" | open -f -a /Applications/Preview.app/
}